<form method="post" action="/pizzas/<%= @pizza.id %>">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" value=<%= @pizza.first_name%> />
  <br/>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" value=<%= @pizza.last_name%> />
  <br/>

  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita" <%= 'selected' if @pizza.topping == 'Margherita' %>/>Margherita</option>
    <option value="Pepperoni" <%= 'selected' if @pizza.topping == 'Pepperoni' %>/>Pepperoni</option>
    <option value="Meat Feast" <%= 'selected' if @pizza.topping == 'Meat Feast' %>/>Meat Feast</option>
    <option value="Haggis" <%= 'selected' if @pizza.topping == 'Haggis' %>/>Haggis</option>
    <option value="Ham and Pineapple" <%= 'selected' if @pizza.topping == 'Ham and Pineapple' %>/>Ham and Pineapple</option>
    <option value="Vegetarian" <%= 'selected' if @pizza.topping == 'Vegetarian' %>/>Vegetarian</option>
  </select>
  <br/>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" value=<%= @pizza.quantity%> />
  <br/>
  <br/>

  <input type="submit" value="Update Order"/>
</form>